
/* custom css */

.bg-grey {
  background-color:#eee!important;
}
.bg-light-grey {
  background-color:rgb(231, 230, 230)!important;
}

.vh-85 {
  min-height: 100vh;
  height: 100%;
}
.container {
  width: 60%!important;
  padding:10px 0 10px 20px!important;
}

/* menu */
.menu-item {
  padding: 0 10px;
  /* margin: 10px 0; */
  user-select: none;
  cursor: pointer;
  border: none; 
}
.menu-item.active {
  border-bottom: 2px black solid;
} 

.badge-menu {
  padding:15px 25px!important;
  border-radius: 20px!important;
  margin: 5px;
}
.dropdown-menu {
  width: 58vw!important;
  border: none!important;
  margin-left: 11px!important;
}



@media only screen and (max-width: 600px) {
  .dropdown-menu {
    width: 100vw!important;
    border: none!important;
    margin-left: 0!important;
  }
}