
/* custom css */

.bg-grey {
  background-color:rgba(238, 238, 238, 0.8);
}
.bg-light-grey {
  background-color:#eee;
}

.vh-85 {
  min-height: 100vh;
  height: 100%;
}
.container {
  width: 60%!important;
  padding:10px 0 10px 20px!important;
}

/* menu */
.menu-item {
  padding: 0 10px;
  /* margin: 10px 0; */
  user-select: none;
  cursor: pointer;
  border: none; 
}
.menu-item.active {
  border-bottom: 2px black solid;
} 

.dropdown-menu {
  width: 60vw!important;
  /* background-color: red!important; */
  border: none!important;
}
.badge-menu {
  padding:15px 25px!important;
  border-radius: 20px!important;
  margin: 5px;
}
